<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Portal de notícias</title>
	</head>
	<body>
		<h1>Notícias</h1>
		<table width=30% cellpadding="1.5" border="1">
			<tr>
				<td>ID</td>
				<td>Titulo</td>
				<td>Noticia</td>
			</tr>
			<% for(var i = 0; i < noticias.length; i++){ %>
			<tr>
				<td><%= noticias[i].id_noticia %></td>
				<td><%= noticias[i].titulo %></td>
				<td><%= noticias[i].noticia %></td>
			</tr>
			<% } %>
		</table>
	</body>
</html>